@{
    ViewBag.Title = "Home Page";
}

<div class="container home-body-content">


    <div class="header jumbotron">
        <h1 class="text-right">Patient Portal</h1>
        @*<p class="lead"></p>*@

        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>
    <div class="row">
        @Html.Partial("_LoginPartial")
    </div>
    <div class="row" style="background-color: rgb(238, 238, 238);">

        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading ">Timeline</div>
                <div class="panel-body">
                    <p>View your medical history in a timeline that you can discuss with your GP.</p>
                    <div>
                        <button class="btn btn-default" onclick="location.href='@Url.Action("Index", "Timeline")'"><span class="glyphicon glyphicon-time"></span> Timeline </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading ">Communicate</div>
                <div class="panel-body">
                    <p>Discuss your health situation with our GPs and allied health professionals.</p>
                    <div>
                        <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"><span class="glyphicon glyphicon-bullhorn"></span> Communicate</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading ">Current Advice</div>
                <div class="panel-body">
                    <p>Review your doctor's current health advice to you, in one place, written especially for you.</p>
                    <div>
                        <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"><span class="glyphicon glyphicon-comment"></span> Current Advice</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading ">News</div>
                <div class="panel-body">
                    <p>Read about health issues current in the community that could effect you.</p><button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"><span class="glyphicon glyphicon-globe"></span> News </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading ">Learn</div>
                <div class="panel-body">
                    <p>Get current, reliable advice tailored to your specific situation.</p>
                    <div>
                        <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"><span class="glyphicon glyphicon-book"></span> Learn</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading ">Visits</div>
                <div class="panel-body">
                    <p>Book an appointment with any of our thousands of health professionals.</p>
                    <div>
                        <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"><span class="glyphicon glyphicon-heart"></span> Visits</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading ">Enter Data</div>
                <div class="panel-body">
                    <p>Enter personal data and update your health record. Sync with personal devices.</p>
                    <div>
                        <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"><span class="glyphicon glyphicon-pencil"></span> Enter Data </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading ">Inbox</div>
                <div class="panel-body">
                    <p>Talk to health professionals about your health.</p>
                    <div>
                        <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"><span class="glyphicon glyphicon-envelope"></span> Inbox</button>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>