@{
    ViewBag.Title = "Home Page";
}

<div class="header jumbotron">
    <h1 class="text-right">Patient Portal</h1>
    @*<p class="lead"></p>*@
    
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">   
    @Html.Partial("_LoginPartial")
</div>
<div class="row" style="background-color: rgb(238, 238, 238);">    
    
    <div class="col-md-4 " >
        <div class="panel panel-default">
            <div class="panel-heading ">Timeline</div>
            <div class="panel-body">
                <p>This is where Timeline service</p>
                <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                    <span class="glyphicon glyphicon-time"></span> Timeline
                </button>
            </div>
        </div>       
        
    </div>
    <div class="col-md-4 " >
        <div class="panel panel-default">
            <div class="panel-heading ">Communicate</div>
            <div class="panel-body">
                <p>This is where communication service</p>
                <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                    <span class="glyphicon glyphicon-bullhorn"></span> Communicate
                </button>
            </div>
        </div>        
    </div>
    <div class="col-md-4 ">
        <div class="panel panel-default">
            <div class="panel-heading ">Current Advice</div>
            <div class="panel-body">
                <p>This is where Current advice service</p>
                <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                    <span class="glyphicon glyphicon-comment"></span> Current Advice
                </button>
            </div>
        </div>        
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading ">News</div>
            <div class="panel-body">
                <p>This is where News service</p>
                <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                    <span class="glyphicon glyphicon-globe"></span> News
                </button>
            </div>
        </div>        
    </div>
    <div class="col-md-4 ">
        <div class="panel panel-default">
            <div class="panel-heading ">Learn</div>
            <div class="panel-body">
                <p>This is where Learn service</p>
                <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                    <span class="glyphicon glyphicon-book"></span> Learn
                </button>
            </div>
        </div>        
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading ">Visits</div>
            <div class="panel-body">
                <p>This is where Visits service</p>
                <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                    <span class="glyphicon glyphicon-heart"></span> Visits
                </button>
            </div>
        </div>        
    </div> 
    <div class="col-md-4 ">
        <div class="panel panel-default">
            <div class="panel-heading ">Enter Data</div>
            <div class="panel-body">
                <p>This is where Enter data service</p>
                <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                    <span class="glyphicon glyphicon-pencil"></span> Enter Data
                </button>
            </div>
        </div>        
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading ">Inbox</div>
            <div class="panel-body">
                <p>This is where Message service</p>

                <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                    <span class="glyphicon glyphicon-envelope"></span> Inbox
                </button>
            </div>
        </div>
    </div>
    
   
</div>